<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>アルバム貸し出し管理アプリ</h1>
    <ul>
      <li><a href="{{ url_for('user.list') }}">会員データリスト</a></li>
      <li><a href="{{ url_for('product.list') }}">アルバムリスト</a></li>
      <li><a href="{{ url_for('order.list') }}">アルバム貸し出しリスト</a></li>
    </ul>
    <h2>人気アルバムランキング</h2>
    <div>
      
    </div>
</body>
</html>
