<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">

  <!-- chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>
<body>
    <h1>アルバム貸し出し管理アプリ</h1>
    <ul>
      <li><a href="{{ url_for('user.list') }}">会員データリスト</a></li>
      <li><a href="{{ url_for('product.list') }}">アルバムリスト</a></li>
      <li><a href="{{ url_for('order.list') }}">アルバム貸し出しリスト</a></li>
    </ul>
    <h2>人気アルバムランキング</h2>
    <h3>会員登録の年間推移</h3>

    <!-- chart.js -->
    <canvas id="myChart"></canvas>

    <script>
        fetch('/get_data')
            .then(response => response.json())
            .then(data => {   
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [...Array(12).keys()].map((_, i)=> "2024-"+(i+1)),
                        datasets: [{
                            label: '月間登録人数',
                            borderColor: 'rgb(85, 210, 255)',
                            backgroundColor: "rgba(0,0,0,0)",
                            data:data,
                            tension:0
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [
                                {
                                    ticks: {
                                        stepSize: 1,
                                    },
                                }
                            ]
                        }
                    }
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    </script>
  
    <div>
      
    </div>
</body>
</html>
